<app-left-menu></app-left-menu>

<head>
  <title>Basic Details</title>
  
</head>
<body class="table">
  <table border="1" width="300" height="100">
       <caption>Employee Details</caption>
       <tr>
            <th>Name</th>
            <th>Address</th>
            <th>School</th>
            <th>college</th>
            <th>EmpNo</th>
            <th>state</th>
            <th>Country</th>
            <th>PhoneNo</th>
            <th>Salary</th>
            

       </tr>
       <tr>
            <td>Neeraj Maurya</td>
            <td>Chhittupur Bhu Varanasi</td>
            <td>CHS Boys Schools</td>
            <td>Galgotias Universitry</td>
            <td>010050</td>
            <td>Uttar Pradesh</td>
            <td>India</td>
            <td>7355297584</td>
            <td>7000</td>
       </tr>
       <tr>
        <td>Rahul kumar</td>
        <td>Chhittupur Bhu Varanasi</td>
        <td>CHS Boys Schools</td>
        <td>Galgotias Universitry</td>
        <td>010050</td>
        <td>Uttar Pradesh</td>
        <td>India</td>
        <td>7355297584</td>
        <td>7000</td>
   </tr>
   <tr>
    <td>Kavita roy</td>
    <td>Chhittupur Bhu Varanasi</td>
    <td>CHS girls Schools</td>
    <td>Galgotias Universitry</td>
    <td>010995</td>
    <td>Uttar Pradesh</td>
    <td>India</td>
    <td>735524564</td>
    <td>7000</td>
</tr>
<tr>
  <td>Khushboo sharma</td>
  <td>Chhittupur Bhu Varanasi</td>
  <td>CHS girls Schools</td>
  <td>Galgotias Universitry</td>
  <td>010050</td>
  <td>Uttar Pradesh</td>
  <td>India</td>
  <td>73554457584</td>
  <td>67834</td>
</tr>
      
  </table>
</body>
